[submodule "themes/binario"]
    path = themes/binario
    url = "https://github.com/Vimux/Binario.git"
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
