<header class="header">
	{{ partial "header_logo.html" . }}
	{{ partial "header_menu.html" . }}

	{{ "<!-- isso -->" | safeHTML }}
	<<script data-isso="{{ .Site.BaseURL }}isso/" src="{{ .Site.BaseURL }}isso/js/embed/min.js" data-isso-css="false"></script>
	{{ "<!-- end isso -->" | safeHTML }}


  <script>
    window.MashSettings = {
      id: "36c53802-45ed-40cf-b98f-e38be77e41ef"
    };
    var loader = function () {
      window.Mash.init();
    };
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.defer = true;
    script.onload = loader;
    script.src = "https://app.mash.com/sdk/sdk.js";
    var head = document.getElementsByTagName("head")[0];
    head.appendChild(script);
  </script>
  
</header>
